body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #6c63ff;
    color: white;
    border-radius:10px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

form {
    margin-top: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff6584;
    color: white;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    background-color: #6c63ff;
    border-radius:10px;
}

nav li {
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

nav i {
    margin-right: 5px;
}

main {
    margin-top: 20px;
    text-align: center;
}

h2 {
    color: #6c63ff;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 10px;
    width: 30%;
    padding: 20px;
    transition: transform 0.3s;
}

.project:hover {
    transform: translateY(-10px);
}

.project img {
    width: 100%;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}
